<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Blaž's Streaming Platform</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Import Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <!-- Add custom CSS from static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>
<div class="banner">
<h1 class="page-title">Video Learning Platform</h1>
</div>

{% block content %}
{% endblock %}
</body>
</html>